body {
	background-color: pink;
}

h1{ 
	color: blue; 
	font-family: impact;
	font-size: 100px;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
}

p1{
	color: orange;
	font-size: 100px
	

}

ul{
	color: purple;
	font-size: 100px;
}