body {
	background-color: white;
}

h1{ 
	color: black; 
	font-family: Lucida;
	font-size: 100px;
	text-align: center;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
}

p1{
	color: orange;
	font-size: 100px
	

}

ul{
	color: purple;
	font-size: 100px;
}