body {
	 background-image: url("large.jpg");
	background-color: white;
}

h1{ 
	color: black; 
	font-family: Lucida;
	font-size: 100px;
	text-align: center;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	background-color: white;
}

p1{
	color: black;
	font-family: Lucida;
	font-size: 40px;
	text-align: center;
	
	

}

ul{
	color: black;
	font-family: Lucida;
	font-size: 40px;
	text-align: center;
}