body {
	 
	
}

background-color: #e3e3e3;
height:100px;
width:100%;
}

h1{ 
	color: blue; 
	font-family: sans-serif;
	font-size: 100px;
	text-align: center;
	padding-top: 50px;
	padding-right: 50px;
	padding-left: 50px;
	background-color: white;
}

p1{
	color: black;
	font-family: sans-serif;
	font-size: 40px;
	text-align: center;
	
	

}

ul{
	color: black;
	font-family: sans-serif;
	font-size: 20px;
	text-align: left;
}

